body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background:lightcyan;
}

.container {
    width: 960px;
    margin:  auto; 
    
}

.header {
    padding:0px;
    margin:0;
    background-color:#ffffff;
    width: 100%;
    height:80px;
    top:0;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-bottom-color: #cccccc;
    overflow: hidden;
    position: relative;
}
.logo {
    display:block;
    float:left;
    padding-top:0px;
    margin-top:0px;
    position:relative;
    bottom:20px;

}
a {
    text-decoration: none;
    color:#777777;
}

li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    display: block;

}
 .nav {
        float: right;

    }
h1 {
    padding:25px;
    font-size: 30px;
    height: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #eee;
  text-align: center;
  background:#4aaaa5;
 
  }
  section{
      display:block;
      float:left;
     
      
  }
 .box{
     
    width: 960px;
    margin:auto;
     background:#ffffff;
   position:relative;
 padding:0;
margin: 50px 480px 50px 480px;
display:block;
border: 2px solid #cccccc;
text-align: left;


 }
 h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
     color:#4aaaa5;
     font-size: 30px;
     text-align: left;
     padding-left:20px;
     padding-right: 20px;

 }
 hr{
   
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    margin-right: 20px;;
    border: solid #dddddd;
    border-width: 2.5px;
    padding-right: 20px;

 }
h3{
    display:inline-block;
    
    
    
    
}  
 img{
     height:200px;
     width: 150px;
     padding:15px;
     float:left;

 }
 p{
     padding: 20px;
     text-align: left;
     color: #777777;
     font-family: Georgia, 'Times New Roman', Times, serif;
     line-height: 40px;
    font-weight: initial;


     }
     .form{
         padding-left:20px;
         color:#777777;
         font-family:Arial, Helvetica, sans-serif;
         font-weight: lighter;
     }

     input[type=text] {
padding:12px 20px;
margin:5px 0px;
width:870px;
     }

    
   input[type=submit] {
         background-color:#4aaaa5;
         color:#ffffff;
         width:90px;
         height:40px;
         font-size:15px;
         font-family: Arial, Helvetica, sans-serif;
     }
     #Message{
         height: 120px;
     }

     
footer {
    margin:0;
    background-color:#666666;
    position: fixed;
    width:100%;
    height:80px;
    padding: 0px;
    text-align: center;
    color:#dddddd;
    bottom:0;
    border-top: 8px solid;
    border-top-color:#4aaaa5;
    text-align: center;
    
}
  